* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #222831;
    --white-color: #FFFFFF;
    --text-hover-color: #DDDDDD;
    --yellow-color-main: #FFCE10;
    --yellow-color-mxain-hover: #cca60e;
    --header-mobile-font: 1.5rem;
    --text-mobile-font: 1rem;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-heading-main: 26px;
    --text-heading-secondary: 22px;
    --text-heading-last: 18px;
}

body {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

/*
* GLOBAL RESET COMPONENT
*/
.wrapper {
    max-width: 1050px;
    margin: 0 auto;
}

ul li {
    list-style: none;
}

/*
* NAV MENU
*/
#navbar {
    width: 100%;
    background-color: var(--main-color);
    color: var(--white-color);
    position: relative;
    top: 0;
    z-index: 999;
}

#navbar.onScroll {
    position: sticky;
    top: 0;
    left: 0;
}

.nav-wrapper {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
    padding: 0 1.5rem;
}

.nav-wrapper .logo {
    display: flex;
    align-items: center;
}

.nav-wrapper .logo img {
    height: 50px;
}

.nav-wrapper .menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 300ms ease;
    transform: translateX(-100%);
    background-color: var(--main-color);
}

.nav-wrapper .menu.active {
    transform: translateX(0);
}

.nav-wrapper .menu ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav-wrapper .menu ul li {
    margin-bottom: 1rem;
}

.nav-wrapper .menu ul li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--text-sm);
}

.nav-wrapper .menu ul li a:hover {
    color: var(--text-hover-color);
}

.nav-wrapper .nav-menu-button, .nav-wrapper .nav-menu-close-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    background-color: var(--white-color);
}

.nav-wrapper .nav-menu-close-button {
    position: fixed;
    top: 0;
    right: 0;
    margin: 2rem;
}

/*  */
#header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/asset/img/image1.JPG) center no-repeat;
    background-size: cover;
}

#header .header-jumbotron {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 1.5rem;
}

#header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: .7;
}

#header .header-jumbotron * {
    margin-bottom: 1rem;
}

#header .header-jumbotron .subheading {
    font-size: var(--text-heading-last);
    font-weight: 500;
    color: var(--white-color);
}

#header .header-jumbotron .heading {
    font-size: var(--text-heading-main);
    font-weight: 600;
    color: var(--white-color);
}

#header .header-jumbotron .paragraph {
    font-size: var(--text-sm);
    color: var(--white-color);
}

.header-button {
    padding: .8rem 1.8rem;
    text-decoration: none;
    transition: all 300ms ease;
    color: var(--main-color);
    background-color: var(--yellow-color-main);
}

.header-button:hover {
    background-color: var(--yellow-color-main-hover);
}

/* TENTANG KAMI */
#tentang-kami {
    width: 100%;
    padding: 5rem 1rem;
    background-color: var(--main-color);
    color: var(--white-color);
}

#tentang-kami .tentang-kami-heading,
#salam-gubernur .salam-gubernur-heading,
#agenda-kegiatan .agenda-kegiatan-heading
{
    padding: 3rem .5rem;
    text-align: center;
}

#tentang-kami .tentang-kami-heading h4,
#salam-gubernur .salam-gubernur-heading h4,
#agenda-kegiatan .agenda-kegiatan-heading h4
{
    font-size: var(--text-heading-main);
    font-weight: 600;
}

#tentang-kami .tentang-kami-heading p,
#salam-gubernur .salam-gubernur-heading p,
#agenda-kegiatan .agenda-kegiatan-heading p
{
    font-size: var(--text-sm);
}

#tentang-kami .grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

#tentang-kami .grid-wrapper .grid-item {
    width: 100%;
}

#tentang-kami .grid-wrapper .grid-item img {
    width: 100%;
    height: 100%;
}

/* SALAM GUBERNUR */
#salam-gubernur {
    padding: 5rem 1rem;
}

.salam-gubernur-card {
    display: grid;
    grid-template-columns: repeat(1, auto);
    align-items: center;
    margin: 2rem 0;
}

.salam-gubernur-card .foto {
    width: 100%;
}

.salam-gubernur-card img {
    width: 100%;
}

.salam-gubernur-card .quotes {
    width: 100%;
    padding: 3rem 0;
}

.salam-gubernur-card blockquote {
    font-size: var(--text-lg);
    font-style: italic;
}

.salam-gubernur-card p {
    font-size: var(--text-md);
    margin-top: 1rem;
}

/* AGENDA KEGIATAN */
#agenda-kegiatan {
    background-color: var(--text-hover-color);
}

#agenda-kegiatan .grid-wrapper {
    padding: 5rem 1rem;
}

#agenda-kegiatan .grid-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

#agenda-kegiatan .grid-wrapper .grid-item {
    width: 100%;
}

#agenda-kegiatan .grid-wrapper .grid-item img {
    width: 100%;
    height: 100%;
}

/* FOOTER */
#footer {
    padding: 5rem 1rem;
    background-color: var(--main-color);
    color: var(--white-color);
}

#footer .bottom-footer .description, #footer .bottom-footer .social-media, #footer .bottom-footer .copyright {
    margin-top: 3rem;
}

#footer .bottom-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#footer .logo {
    width: 100px;
}

#footer .logo img {
    width: 100%;
}

#footer h4 {
    margin-bottom: 1rem;
    font-size: var(--text-heading-secondary);
    font-weight: 600;
}

#footer .description p {
    font-size: var(--text-sm);
}

#footer .medsos-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#footer .medsos-wrapper a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    background-color: var(--text-hover-color);
    color: var(--main-color);
    text-decoration: none;
}

#footer .medsos-wrapper a:hover {
    background-color: var(--main-color);
    color: var(--white-color);
}

.copyright {
    font-size: var(--text-sm);
    padding-top: 7rem;
}

@media screen and (min-width: 768px) {
    .nav-wrapper {
        height: 80px;
        position: relative;
    }

    .nav-wrapper .menu {
        position: relative;
        height: 100%;
        transform: translateX(0);
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        transition: none;
    }

    .nav-wrapper .menu ul {
        height: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
    }

    .nav-wrapper .menu ul li {
        margin-bottom: unset;
        margin-left: 2rem;
    }

    .nav-wrapper .menu ul li a {
        font-size: var(--text-md);
    }

    .nav-wrapper .nav-menu-button {
        display: none;
    }

    .nav-wrapper .nav-menu-close-button {
        display: none;
    }

    /* TENTANG KAMI */
    #tentang-kami .grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    #tentang-kami {
        height: auto;
    }

    /* SALAM GUBERNUR */
    .salam-gubernur-card {
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
    }
    
    .salam-gubernur-card .foto {
        width: 100%;
    }
    
    .salam-gubernur-card .quotes {
        grid-column: span 2;
        width: 100%;
        padding: unset;
    }

    /* AGENDA KEGIATAN */
    #agenda-kegiatan .grid-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    /* FOOTER */
    #footer .bottom-footer .description, #footer .bottom-footer .social-media, #footer .bottom-footer .copyright {
        margin-top: 0;
    }


    #footer .bottom-footer {
        grid-template-columns: repeat(2, 1fr);
    }

    #footer .social-media {
        display: flex;
        flex-direction: column;
    }
}